#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.good, .slow, .stop {
  color: #383838;
}

.good {
  background-color: rgb(33, 255, 85);
}

.slow {
  background-color: #eaf252;
}

.stop {
  background-color: #fa4d59;
}

.inputs {
  display: flex;
  height: 12vh;
  flex-direction: column;
  justify-content: space-evenly;
}
